---
import Section from '../Section.astro'

import { education } from '../../../cv.json'

// const { name, position, url, startDate, endDate, summary, highlights } = work
---

<Section title='Educación'>
    <ul class="flex flex-col gap-8">
        {
            education.map(({ institution, url, area, studyType, startDate, endDate, courses, technologies, tfmgUrl }) => {
                const actualDate = new Date(Date.now())//.getFullYear()
                const actualYear = new Date(Date.now()).getFullYear()

                const startYear = new Date(startDate).getFullYear()
                const endYear = endDate !== null ? new Date(endDate).getFullYear() : 9999
                const endDateDate = new Date(endDate)
                // const years =
                //     (endYear > actualYear || startYear === endYear)
                //         ? endYear === 9999
                //             ? `${startYear} - Actual`
                //             : `${startYear}`
                //         : `${startYear} - ${endYear}`
                const years =
                    (startYear === endYear)
                        ? `${startYear}`
                        : endYear - startYear > 1000 || endDateDate > actualDate
                            ? `${startYear} - Actual`
                            : `${startYear} - ${endYear}`
                
                return (
                    <li class="border-b-[1px] border-slate-500 rounded-b-2xl hover:outline-2 hover:shadow-md">
                        <article class="p-4 flex flex-col gap-6 justify-between">
                            <header class="flex flex-row justify-between items-start">
                                <div class="truncate">
                                    <h3 class="font-semibold">{institution}</h3>
                                    <h4>{studyType}</h4>
                                    <h5>{area}</h5>
                                    {
                                        tfmgUrl &&
                                        <a
                                            href={tfmgUrl}
                                            title={`Trabajando en ${institution} durante ${years}`}
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            class="hover:before:content-['_↗'] hover:before:mr-2 w-full"
                                        >{tfmgUrl}</a>
                                    }
                                </div>

                                <time datetime={`years`}>{years}</time>
                            </header>
                            <footer class="flex-1">
                                <div class="flex flex-col gap-1 justify-center">
                                    <ul>
                                        {
                                            courses &&
                                            courses.map((course) =>
                                                <li class="flex flex-col gap-1">
                                                    {course}
                                                </li>
                                            )
                                        }
                                    </ul>
                                    <ul>
                                        {
                                            technologies &&
                                            technologies.map((tech) => {
                                                const techBadge = tech.replaceAll(" ", "%20")
                                                const techBadgeURL = `https://img.shields.io/badge/${techBadge}-${techBadge}?style=for-the-badge&labelColor=white&color=gray`
                                                
                                                return (
                                                    <li class="inline-flex mr-2">
                                                        <img src={techBadgeURL} alt="..." />
                                                        {/* A Astro le gusta cerrar la etiqueta con '/>'... */}
                                                    </li>
                                                )
                                            })
                                        }
                                    </ul>
                                </div>
                            </footer>
                        </article>
                    </li>
                )
            })
        }
    </ul>
</Section>