---
import Section from '../Section.astro'

import SkillsComponent from '../SkillsSection.astro'

// ICONS
// Front-End
import HTML from '../../assets/svg/HTML.astro'
import CSS3 from '../../assets/svg/CSS3.astro'
import JavaScript from '../../assets/svg/JavaScript.astro'
import TailwindCSS from '../../assets/svg/TailwindCSS.astro'
import Astro4 from '../../assets/svg/Astro4.astro'
import TypeScript from '../../assets/svg/TypeScript.astro'
import React from '../../assets/svg/React.astro'
import ThreeJS from '../../assets/svg/ThreeJS.astro'
import Blender from '../../assets/svg/Blender.astro'
// Back-End
import NodeJS from '../../assets/svg/NodeJS.astro'
import Express from '../../assets/svg/Express.astro'
import MySQL from '../../assets/svg/MySQL.astro'
import Git from '../../assets/svg/Git.astro'
// Big Data
import Python from '../../assets/svg/Python.astro'
import Selenium from '../../assets/svg/Selenium.astro'
import NumPy from '../../assets/svg/NumPy.astro'
import Pandas from '../../assets/svg/Pandas.astro'
import Keras from '../../assets/svg/Keras.astro'
import MongoDB from '../../assets/svg/MongoDB.astro'
import R from '../../assets/svg/R.astro'

import { skillsFrontEnd, skillsBackEnd, skillsBigData } from '../../../cv.json'
// const { name, level, keywords } = skills
const SKILLS_FRONTEND_ICONS: Record<string, any> = {
    HTML,
    CSS3,
    JavaScript,
    TailwindCSS,
    Astro4,
    TypeScript,
    React,
    ThreeJS,
    Blender,
}
const SKILLS_BACKEND_ICONS: Record<string, any> = {
    NodeJS,
    Express,
    MySQL,
    Git
}
const SKILLS_BIGDATA_ICONS: Record<string, any> = {
    Python,
    Selenium,
    NumPy,
    Pandas,
    Keras,
    MongoDB,
    R
}
---

<Section title='Tecnologías'>
    <!-- <section class="flex flex-col"></section> -->

    <!-- Front-End -->
    <SkillsComponent title="Front-End" >
        {
            skillsFrontEnd.map(({ name, level, keywords, bgColor }) => {
                const Icon = SKILLS_FRONTEND_ICONS[name]
                name = name.replaceAll('4', '').replaceAll('3', '')

                const bgStyle = `background-color: rgb(${bgColor})`;
                
                return (
                    <span
                        class="flex flex-col gap-1 justify-center items-center outline-2 outline-purple-400 rounded-full min-w-20 h-auto "
                        title="Aprendiendo • Básico • Intermedio • Avanzado • Experto"
                    >
                        <button
                            class="border-2 border-solid border-slate-500 p-2 rounded-full shadow-md hover:shadow-2xl hover:scale-105 hover:saturate-150 drop-shadow-2xl"
                            style={bgStyle}
                            title={`${name} ${level}`}
                        >
                            <Icon />
                        </button>
                        <span class="flex flex-col gap-[2px] text-pretty">
                            <span class="italic text-sm text-center [text-shadow:_0_2px_15px_rgb(77_133_222_/_75%)]">{name}</span>
                            <span class="text-xs text-center font-semibold text-black">{level}</span>
                        </span>
                    </span>
                )
            })
        }
    </SkillsComponent>

    <!-- Back-End -->
    <SkillsComponent title="Back-End" >
        {
            skillsBackEnd.map(({ name, level, keywords, bgColor }) => {
                const Icon = SKILLS_BACKEND_ICONS[name]

                return (
                    <span
                        class="flex flex-col gap-1 justify-center items-center outline-2 outline-purple-400 rounded-full min-w-20 h-auto "
                        title="Aprendiendo • Básico • Intermedio • Avanzado • Experto"
                    >
                        <button
                            class="border-2 border-solid border-slate-500 p-2 rounded-full shadow-md hover:shadow-2xl hover:scale-105 hover:saturate-150 drop-shadow-2xl"
                            title={`${name} ${level}`}
                        >
                            <Icon />
                        </button>
                        <span class="flex flex-col gap-[2px] text-pretty">
                            <span class="italic text-sm text-center [text-shadow:_0_2px_15px_rgb(77_133_222_/_75%)]">
                                {name}
                            </span>
                            <span class="text-xs text-center font-semibold text-black">
                                {level}
                            </span>
                        </span>
                    </span>
                )
            })
        }
    </SkillsComponent>

    <!-- Big Data -->
    <SkillsComponent title="Big Data" >
        {
            skillsBigData.map(({ name, level, keywords, bgColor }) => {
                const Icon = SKILLS_BIGDATA_ICONS[name]

                return (
                    <span
                        class="flex flex-col gap-1 justify-center items-center outline-2 outline-purple-400 rounded-full min-w-20 h-auto "
                        title="Aprendiendo • Básico • Intermedio • Avanzado • Experto"
                    >
                        <button
                            class="border-2 border-solid border-slate-500 p-2 rounded-full shadow-md hover:shadow-2xl hover:scale-105 hover:saturate-150 drop-shadow-2xl"
                            title={`${name} ${level}`}
                        >
                            <Icon />
                        </button>
                        <span class="italic text-sm text-center [text-shadow:_0_2px_15px_rgb(77_133_222_/_75%)]">
                            {name}
                        </span>
                    </span>
                )
            })
        }
    </SkillsComponent>
</Section>